:host {
  position: relative;
  display: flex;

  img {
    max-height: 95vh;
    max-width: 95vw;
  }

  [caption] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.2s ease-in-out;
    padding: 1em;
  }

  [controls] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: opacity 0.2s ease-in-out;
  }
}
