mat-button-toggle-group {
  border: none;

  mat-button-toggle {
    background-color: transparent;

    &.mat-button-toggle-checked {
      [value] {
        border: 2px solid #fff;
      }

    }

    [value] {
      height: 1.5em;
      display: inline-block;
      width: 1.5em;
      border-radius: 1em;
    }

  }

  @media screen and (max-width: 449px) {

    flex-direction: row;

    .mat-button-toggle-label-content {
      padding: 0 5px;
    }
  }

}
