<img [src]="data.webp_src" alt="">
<div caption>
  <h1 (click)="goToView()">{{data.title}}</h1>
  <h3 class="subtitle">{{data.category}}</h3>
</div>
<div controls>
  <!-- <app-colors [colors]="data.colors" (selected)="onColors($event)">
  </app-colors> -->
  <button *ngIf="userService.isAdmin" mat-icon-button (click)="deleteImage()" [disabled]="buttonDisabled" matTooltip="delete">
    <mat-icon [attr.hide]="buttonDisabled?'1':null">delete</mat-icon>
    <mat-progress-spinner color="warn" mode="indeterminate" [diameter]="buttonDisabled?24:0"></mat-progress-spinner>
  </button>
  <button mat-icon-button (click)="downloadImage()" [disabled]="buttonDisabled" matTooltip="download">
    <mat-icon [attr.hide]="buttonDisabled?'1':null">download</mat-icon>
    <mat-progress-spinner color="warn" mode="indeterminate" [diameter]="buttonDisabled?24:0"></mat-progress-spinner>
  </button>
</div>

