:host {

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 64px;
    align-items: center;
    z-index: 10;

    @media screen and (min-width: 450px) {
      height: 100vh;
      width: 3em;
      flex-direction: column-reverse;
    }

    [actions] {
      display: flex;

      @media screen and (min-width: 450px) {
        flex-direction: column-reverse;
      }
    }

    [title] {
      cursor: pointer;

      @media screen and (min-width: 450px) {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding: 16px 0px;
      }
    }

    @media screen and (max-width: 449px) {
      app-colors {
        position: fixed;
        bottom: 0;
        left: 0;

      }
    }
  }


}
