:host {

  mat-toolbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;

    mat-toolbar-row {
      position: fixed;
      top: 0;
      left: 0;
      background: inherit;
      justify-content: space-between;
    }
  }


}
