<div *ngIf="user.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <div>
        <button
            mat-flat-button
            color="primary"
            (click)="logout()"
        >
            <mat-icon>logout</mat-icon>
            Logout
        </button>
    </div>
</div>
<ng-template #showLogin>
    <p>
        You have to login with your google account or just if you prefer use the site as guest
    </p>
    <div buttons>
        <div>
            <button
                mat-flat-button
                color="accent"
                (click)="login_google()"
            >
                <mat-icon>login</mat-icon>
                Login with Google
            </button>
        </div>
        <div>
            <button
                mat-flat-button
                color="primary"
                (click)="login_anon()"
            >
                <mat-icon>accessibility_new</mat-icon>
                Login as Guest
            </button>
        </div>
    </div>
</ng-template>
