:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  flex-grow: 1;
  padding-bottom: 10vh;

  p {
      text-align: center;
  }

  [buttons] {
    font-family: "Major Mono Display";
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    button {
      width: 100%;
    }
  }
}
