:host {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;

  .viewport {
    height: 100vh;
    width: 100%;
  }


  [grid] {
    column-gap: 0;
    row-gap: 0;
    @supports (grid-template-rows: masonry) {
      display: grid;
      grid-auto-flow: dense;
      grid-template-rows: masonry;

      @media screen and (min-width: 450px) {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      }
      @media screen and (min-width: 1850px) {
        grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 5), 1fr));
      }
    }

    @supports not (grid-template-rows: masonry) {

      column-count: 1;
      width: 100%;

      @media screen and (min-width: 900px) {
        column-count: 2;
      }

      @media screen and (min-width: 1200px) {
        column-count: 3;
      }

      [grid-item] {
        margin: 0;
        // display: inline-block;
        margin-bottom: 0px;
        width: 100%;
      }
    }


    [grid-item] {
      &[filtered] {
        display: none;
      }
    }
  }

  [colors] {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}
