:host {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  [grid] {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    display: grid;
    grid-auto-flow: dense;
    height: auto !important;
    [grid-item] {
      &[filtered] {
        display: none;
      }
    }
  }
}

