:host {
  height: 100vh;
  width: 109%;
  overflow: hidden;
  overflow-y: auto;


    [grid] {
      display: grid;
      grid-auto-flow: dense;
      grid-template-rows: masonry;

      @media screen and (min-width: 450px) {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

      }

      [grid-item] {
        &[filtered] {
          display: none;
        }
      }
    }



  [colors] {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}
