<div
    image-container
    [ngStyle]="getImageStyle()"
>
    <img
        [src]="data.webp_src"
        appDragScroll
        draggable="false"
    >
</div>
<div info>
    <caption>
        <h3>{{data.title}}</h3>
        <h5 class="subtitle">{{data.category}}</h5>
    </caption>
    <div controls>
        <button
            mat-fab
            (click)="downloadImage()"
            [disabled]="buttonDisabled"
            matTooltip="download"
        >
            <mat-icon [attr.hide]="buttonDisabled?'1':null">download</mat-icon>
            <mat-progress-spinner
                color="warn"
                mode="indeterminate"
                [diameter]="buttonDisabled?24:0"
            ></mat-progress-spinner>
        </button>
    </div>
</div>
