@use "@angular/material" as mat;
@include mat.core();
$theme-primary: mat.define-palette(mat.$purple-palette, 900);
$theme-accent: mat.define-palette(mat.$purple-palette, 100, 200, 300);
$theme-warn: mat.define-palette(mat.$amber-palette);
$custom-typography: mat.define-typography-config($font-family: "Permanent Marker",
  );

$theme: mat.define-dark-theme((color: (primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
      ),
      typography: $custom-typography,
    ));
@include mat.all-component-colors($theme);
@include mat.all-component-typographies($theme);

@import "./mixins.scss";


html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;


}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.image-zoom-panel {
  max-height: 95%;
  height: auto;
  padding: 0;
  border-radius: 1em;
  // img {
  //   border: 0;
  // }
  @include lightbox;
}

.image-zoom-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.subtitle {
  font-family: Zeyada;
}
