app-colors {
  .mat-button-toggle-group {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    row-gap: 1rem;
    background-color: unset;

    mat-button-toggle {
      border: none !important;
      background-color: unset;

      &.mat-button-toggle-checked {
        [value] {
          border: 2px solid #fff;
        }
      }
      [value] {
        height: 2.5em;
        display: inline-block;
        width: 2.5em;
        border-radius: 50%;
      }
    }
  }

  @media screen and (max-width: 449px) {
    display: flex;
    position: fixed;
    bottom: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    .mat-button-toggle-group {
      padding: 0.5rem 0;
      .mat-button-toggle {
        &.mat-button-toggle-appearance-standard {
          border: none;
        }
        [value] {
          height: 1.8rem;
          width: 1.8rem;
        }
        justify-self: center;
      }
      background-color: rgba(0, 0, 0, 0.5);
      display: grid;
      width: 100%;
      align-content: center;
      grid-auto-flow: dense;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(1.8rem, 1fr));
    }
  }
}
