

@mixin shadowbox {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

@mixin lightbox {
  box-shadow: rgba(172, 160, 160, 0.534) 0px 5px 15px,
    rgba(183, 170, 170, 0.669) 0px -15px 15px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 2px 3px,
    rgba(0, 0, 0, 0.09) 0px -1px 5px;
  overflow: hidden;
}

